body {
  font-family: "Arial", sans-serif;
  background-color: #161616;
}

body,
html {
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1e1f;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 20px 200px 20px 200px;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  color: #00bfff;
}

/* header styles */
.header {
  background-image: url("../assets/tbc_img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center center;
  background-size: 100%;

  color: #fff;
  padding: 20;
  text-align: left;
  min-height: 350px;
}

.header h1 {
  margin-top: 0px;
  padding: 100px 250px 50px 250px;
  font-size: 40px;
}

/* end of header styles */

/* about info beginning */

.aboutInfo {
  background-color: #2b2b2b;
  color: white;
  padding: 50px 250px 50px 250px;
}

.aboutInfo h3 {
  font-size: 24px;
  line-height: 2;
}

.aboutInfo a {
  text-decoration: none;
  color: #00adee;
  font-size: 20px;
}

/* about info end */

/* course cards */
h1 {
  color: #dbdbdb;
  padding-left: 250px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 50px 250px 50px 250px;
  color: white;
}

.card {
  flex-basis: calc(33% - 20px);
  border: 1px solid #2b2b2b;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
}

.cards a {
  text-decoration: none;
  color: #00adee;

  font-size: 16px;
}

.card-content {
  font-size: 15px;
  padding: 32px;
}

.card-content p {
  margin-bottom: 80px;
  font-size: 12px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .card {
    flex-basis: calc(50% - 20px);
  }
}

/* course cards end */

/*carousel*/
.project-Partners {
  color: white;
  padding: 50px 200px 50px 200px;
  background-color: #2b2b2b;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-track-container {
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  display: flex;
  justify-content: space-between;
  flex: 0 0 100%;
  width: 100%;
}

.carousel-image {
  width: calc(33.333% - 30px);
  margin: 0 15px;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.carousel-indicators {
  text-align: center;
  padding: 10px 0;
}

.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/*carousel end*/

.course-title {
  font-size: 20px;
  color: #333;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.FAQ {
  padding: 50px 250px 50px 250px;
  color: white;
  font-size: 16px;
  line-height: 100px;
}

.faq-title {
  display: flex;
  justify-content: space-between;
}

.faq-title a {
  text-decoration: none;
  color: #00adee;
  font-size: 20px;
}

.faq-container {
  background-color: #161616;
}

.faq-question {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  background-color: #161616;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
  line-height: 100px;
}

.faq-item {
  border-bottom: 2px solid #2d2a2a;
}

.faq-answer {
  font-size: 20px;
  line-height: 40px;
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-answer-contents {
  padding-left: 20px;
}

.arrow {
  transition: transform 0.3s ease;
  padding-top: 30px;
}

.faq-answer-active .arrow {
  transform: rotate(180deg);
}

.footer {
  background-color: #1a1e1f;
  padding: 0px 200px 0px 200px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  color: white;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-brand a{
  text-decoration: none;
  color: white;
}
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

.social-link {
  color: white;

  margin-bottom: 10px;

  text-decoration: none;
 
  font-size: 24px;
  
}

.action-button {
  padding: 10px 20px;
  background-color: #00adee;
  
  border: none;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-social {
    align-items: center;
    
    margin-top: 20px;

  }
}
